{% extends 'livros/base.html' %}

{% block title %}Adicionar Livro - Resenhas de Livros{% endblock %}

{% block content %}
<h2 class="main-color mb-4">Adicionar Livro</h2>
<form method="post" enctype="multipart/form-data" class="mb-4">
    {% csrf_token %}
    {% for field in form %}
        <div class="mb-3">
            <label class="form-label" for="{{ field.id_for_label }}">
                {{ field.label }}
                {% if field.field.required %}
                    <span class="text-danger" title="Obrigatório">*</span>
                {% endif %}
            </label>
            <div>
                {{ field }}
            </div>
            {% if field.help_text %}
                <div class="form-text">{{ field.help_text|safe }}</div>
            {% endif %}
            {% if field.errors %}
                <div class="text-danger small">{{ field.errors|striptags }}</div>
            {% endif %}
        </div>
    {% endfor %}
    <button type="submit" class="btn btn-main">Salvar</button>
    <a href="{% url 'listar_livros' %}" class="btn btn-secondary">Cancelar</a>
</form>
<script>
    var input = document.querySelector('input[name="tags_texto"]');
    new Tagify(input, {
        whitelist: [],
        dropdown: {
            enabled: 0
        }
    });
</script>
{% endblock %}
